<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="76x76" href="./admin/assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="./assets/img/favicon.png">
        <title>Web Assignment - Nguyen Vu Nhat Dang</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script> -->
        <!-- Thư viện Sweet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        
        <!-- Fonts and icons -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
        <!-- Nucleo Icons -->
        <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
        <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
        <!-- CSS Files -->
        <link id="pagestyle" href="./assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
        <!-- Nepcha Analytics (nepcha.com) -->
        <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
    </head>
    <body class="g-sidenav-show bg-gray-200">
        <%- include('partials/sidebar') %>
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <!-- Navbar -->
            <%- include('partials/navbar') %>
            <!-- Add Product -->
            <%- include('partials/addProduct') %>
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card my-4">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                    <h6 class="text-white text-capitalize ps-3">Products</h6>
                                </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                                <div class="table-responsive p-0">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Original Price</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Quantity</th>
                                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                                <th class="text-secondary opacity-7"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let i = 0; i < data.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex px-2 py-1">
                                                            <div>
                                                                <img src="/<%=data[i].thumbnail%>" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                                            </div>
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-sm"><%= data[i].name %></h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <% if (data[i].oldPrice !== null && data[i].oldPrice !== undefined) { %>
                                                            <p class="text-xs font-weight-bold mb-0"><%= data[i].oldPrice.toLocaleString().replace(/,/g, '.') %></p>
                                                        <% } else { %>
                                                            <p class="text-xs font-weight-bold mb-0">N/A</p>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (data[i].price !== null && data[i].price !== undefined) { %>
                                                            <p class="text-xs font-weight-bold mb-0"><%= data[i].price.toLocaleString().replace(/,/g, '.') %></p>
                                                        <% } else { %>
                                                            <p class="text-xs font-weight-bold mb-0">N/A</p>
                                                        <% } %>
                                                    </td>
                            
                                                    <td>
                                                        <p class="text-xs font-weight-bold mb-0"><%= data[i].stock %></p>
                                                    </td>
                                                    <td class="align-middle text-center text-sm">
                                                        <span class="badge badge-sm bg-gradient-success">Active</span>
                                                    </td>
                                                    <td class="align-middle">
                                                        <!-- Update button -->
                                                        <button type="button" class="btn text-secondary font-weight-bold text-xs" onclick="openEditModal('<%= data[i]._id %>')" data-toggle="tooltip" data-original-title="Edit user">
                                                            Edit
                                                        </button>
                                                        <%- include('partials/updateProduct', { product: data[i] }) %>
                                                        <form action="/api/v1/product/delete-product/<%= data[i]._id %>" method="POST" style="display: inline;"
                                                            onsubmit="return confirm('Bạn có chắc chắn muốn xoá không?');"  >
                                                            <input type="hidden" name="id" value="<%= data[i]._id %>">
                                                            <button type="submit" class="btn text-secondary font-weight-bold text-xs"
                                                             data-toggle="tooltip" data-original-title="Delete user">
                                                                Delete
                                                            </button>                                                      
                                                        </form>
                                                        
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Core JS Files -->
        <script src="/admin/assets/js/core/popper.min.js"></script>
        <script src="/admin/assets/js/core/bootstrap.min.js"></script>
        <script src="/admin/assets/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="/admin/assets/js/plugins/smooth-scrollbar.min.js"></script>
        <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
                var options = {
                    damping: '0.5'
                }
                Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }
        </script>
        <!-- Github buttons -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/admin/assets/js/material-dashboard.min.js?v=3.1.0"></script>
        <!-- Bootstrap JS Modal -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            function openEditModal(productId) {
                $('#updateProductModal-' + productId).modal('show');
            }
            // Bên trong thẻ <script> của trang HTML của bạn
//     function confirmDelete(id) {
//     Swal.fire({
//         title: 'Bạn có chắc chắn muốn xoá không?',
//         icon: 'warning',
//         showCancelButton: true,
//         confirmButtonText: 'Đồng ý',
//         cancelButtonText: 'Hủy',
//     }).then((result) => {
//         if (result.isConfirmed) {
//             // Nếu người dùng đồng ý, gửi yêu cầu xóa đến route xử lý
//             window.location.href = '/api/v1/product/delete-product/' + id;
//         }
//     });
// }

        </script>
        
    </body>
    <style>
        .text-xs {
            margin-top: 10px;
        }
    </style>
</html>
